@page "/"
@inject DashboardDataService DataService

@if (DataService.IsError)
{
    <ErrorPanel ErrorMessage="@DataService.ErrorMessage" />
}
else if (DataService.Data is not null)
{
    <div class="dashboard-root">
        <div class="dashboard">
            <Header Data="@DataService.Data" />
            <Timeline TimelineData="@DataService.Data.Timeline" />
            <Heatmap HeatmapData="@DataService.Data.Heatmap"
                     Months="@DataService.Data.Months"
                     CurrentMonth="@DataService.Data.CurrentMonth" />
        </div>
    </div>
}