@page "/"
@using Microsoft.AspNetCore.Components.Web
@using ReportingDashboard.Models
@using ReportingDashboard.Services
@inject DashboardDataService DataService
@rendermode RenderMode.InteractiveServer

@if (DataService.IsError)
{
    <ReportingDashboard.Components.Sections.ErrorPanel ErrorMessage="@DataService.ErrorMessage" />
}
else if (DataService.Data is not null)
{
    <div class="dashboard-root">
        <ReportingDashboard.Components.Sections.Header Data="@DataService.Data" />
        <ReportingDashboard.Components.Sections.Timeline TimelineData="@DataService.Data.Timeline" />
        <ReportingDashboard.Components.Sections.Heatmap HeatmapData="@DataService.Data.Heatmap"
                 Months="@DataService.Data.Months"
                 CurrentMonth="@DataService.Data.CurrentMonth" />
    </div>
}