@page "/"
@using Microsoft.AspNetCore.Components.Web
@inject DashboardDataService DataService
@rendermode RenderMode.InteractiveServer

@if (DataService.IsError)
{
    <ErrorPanel ErrorMessage="@DataService.ErrorMessage" />
}
else if (DataService.Data is not null)
{
    <div class="hdr">
        <Header Data="@DataService.Data" />
    </div>
    <div class="tl-area">
        <Timeline TimelineData="@DataService.Data.Timeline" />
    </div>
    <div class="hm-wrap">
        <Heatmap HeatmapData="@DataService.Data.Heatmap"
                 Months="@DataService.Data.Months"
                 CurrentMonth="@DataService.Data.CurrentMonth" />
    </div>
}