@namespace ReportingDashboard.Web.Components.Pages.Partials
@using ReportingDashboard.Web.Models

<header class="hdr" role="banner">
    <div class="hdr-left">
        <h1>
            @Project.Title
            @if (IsValidBacklogUrl(out var href))
            {
                <text> </text><a class="backlog" href="@href">@Project.BacklogLinkText</a>
            }
            else
            {
                <text> </text><span class="backlog-text">@Project.BacklogLinkText</span>
            }
        </h1>
        <div class="sub">@Project.Subtitle</div>
    </div>
    <div class="legend">
        <span class="lg-item">
            <span class="lg-shape lg-diamond-amber"></span>
            <span class="lg-text">PoC Milestone</span>
        </span>
        <span class="lg-item">
            <span class="lg-shape lg-diamond-green"></span>
            <span class="lg-text">Production Release</span>
        </span>
        <span class="lg-item">
            <span class="lg-shape lg-dot-grey"></span>
            <span class="lg-text">Checkpoint</span>
        </span>
        <span class="lg-item">
            <span class="lg-shape lg-bar-red"></span>
            <span class="lg-text">@NowLabel</span>
        </span>
    </div>
</header>

@code {
    [Parameter] public required Project Project { get; set; }
    [Parameter] public required string NowLabel { get; set; }

    private bool IsValidBacklogUrl(out string href)
    {
        href = string.Empty;
        if (string.IsNullOrWhiteSpace(Project.BacklogUrl))
        {
            return false;
        }

        if (!Uri.TryCreate(Project.BacklogUrl, UriKind.Absolute, out var uri))
        {
            return false;
        }

        if (uri.Scheme != Uri.UriSchemeHttp && uri.Scheme != Uri.UriSchemeHttps)
        {
            return false;
        }

        href = Project.BacklogUrl!;
        return true;
    }
}